/* 
=====================================================
======================== ALL ========================
=====================================================
 */

*{
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  font-family: "Inria", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper{
    min-height: 100vh;
    background: hsl(0, 0%, 100%);
}

main {
    padding-top: 70px;
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

header {
    height: 60px;
    width: 100vw;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5FA6FF;
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    max-width: 1200px;
}

header nav img {
    /* height: 30px; */
    width: 150px;
}

header nav p {
    width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header a {
    color: white;
    text-decoration: none;
}

header .utilisateur a i{
    padding-left: 10px;
}

header .utilisateur{
    display: flex;
    justify-content: end;
    width: 150px;
    color: white;
}

/* 
=====================================================
===================== Connexion =====================
=====================================================
 */

.pageConnexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pageConnexion .containerConnexion {
    /* background: #C3DDFE; */
    background: 
        linear-gradient(221deg, 
        rgba(255, 255, 255, 0.8) 0%, 
        rgba(254, 255, 255, 0.4) 5%, 
        rgba(254, 255, 255, 0.13) 11%, 
        rgba(254, 255, 255, 0.4) 46%, 
        rgba(254, 255, 255, .13) 48%, 
        rgba(254, 255, 255, 0.13) 63%, 
        rgba(254, 255, 255, 0.5) 65%, 
        rgba(253, 253, 253, 0.5) 78%, 
        rgba(255, 255, 255, 0.3) 80%, 
        rgba(255, 255, 255, 0.13) 83%, 
        rgba(255, 255, 255, 0.13) 71%, 
        rgba(255, 255, 255, 0.8) 100%),
        #C3DDFE;
    border: solid 2px rgba(255, 255, 255, 0.1);
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}

.pageConnexion .containerConnexion h1{
    padding-bottom: 30px;
}

.pageConnexion .containerConnexion form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* gap: 40px; */
}

.pageConnexion .containerConnexion form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pageConnexion .containerConnexion form input{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.pageConnexion .containerConnexion form label{
    padding-left: 9px;
    padding-bottom: 5px;
}

.pageConnexion .containerConnexion .submitForm {
    background-color: #5FA6FF;
    color: white;
    transition: 0.2s;
}

.pageConnexion .containerConnexion .submitForm:hover{
    background-color: #2f74c9;
    transition: 0.2s;
}