/* 
=====================================================
======================== ALL ========================
=====================================================
 */

*{
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  font-family: "Inria", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper{
    min-height: 100vh;
    background: hsl(0, 0%, 100%);
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

header {
    height: 60px;
    width: 100vw;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5FA6FF;
}

header nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    max-width: 1200px;
}

header nav img {
    /* height: 30px; */
    width: 150px;
}

header nav p {
    width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header a {
    color: black;
    text-decoration: none;
}

/* 
=====================================================
===================== Connexion =====================
=====================================================
 */

.pageConnexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pageConnexion .containerConnexion {
    background: #C3DDFE;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}

.pageConnexion .containerConnexion h1{
    padding-bottom: 30px;
}

.pageConnexion .containerConnexion form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* gap: 40px; */
}

.pageConnexion .containerConnexion form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pageConnexion .containerConnexion form input{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.pageConnexion .containerConnexion form label{
    padding-left: 9px;
    padding-bottom: 5px;
}

.pageConnexion .containerConnexion .submitForm {
    background-color: #5FA6FF;
    color: white;
    transition: 0.2s;
}

.pageConnexion .containerConnexion .submitForm:hover{
    transform: scale(1.1);
    transition: 0.2s;
}