/*
=====================================================
======================== ALL ========================
=====================================================
 */
 
*{
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  font-family: "Inria", sans-serif;
}
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
 
#wrapper{
    min-height: 100vh;
    background: hsl(0, 0%, 100%);
}
 
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

#backRouge {
    background:
        linear-gradient(221deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(254, 255, 255, 0.4) 5%,
        rgba(254, 255, 255, 0.13) 11%,
        rgba(254, 255, 255, 0.4) 46%,
        rgba(254, 255, 255, .13) 48%,
        rgba(254, 255, 255, 0.13) 63%,
        rgba(254, 255, 255, 0.5) 65%,
        rgba(253, 253, 253, 0.5) 78%,
        rgba(255, 255, 255, 0.3) 80%,
        rgba(255, 255, 255, 0.13) 83%,
        rgba(255, 255, 255, 0.13) 71%,
        rgba(255, 255, 255, 0.8) 100%),
        #fec3c3;
    margin-top: 20px;
}
 
.messageAlerte{
    color: red;
}

/*
=====================================================
====================== HEADER =======================
=====================================================
 */
 
header {
    height: 60px;
    width: 100vw;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5FA6FF;
    z-index: 999;
}
 
header nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    max-width: 1200px;
}
 
header nav img {
    /* height: 30px; */
    width: 150px;
}
 
header nav p {
    width: 150px;
}
 
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
 
header a {
    color: white;
    text-decoration: none;
}
 
header .utilisateur a i{
    padding-left: 10px;
}
 
header .utilisateur{
    display: flex;
    justify-content: end;
    width: 150px;
    color: white;
}
 
/*
=====================================================
============== Connexion / Inscription ==============
=====================================================
 */
 
.pageConnexion, .pageInscription, .pageModifierEspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.pageConnexion .containerConnexion, .pageInscription .containerInscription, .ListeEspaces, #supprimer_espace .containerSupprimer, .pageModifierEspace .containerModifierEspace{
    /* background: #C3DDFE; */
    background:
        linear-gradient(221deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(254, 255, 255, 0.4) 5%,
        rgba(254, 255, 255, 0.13) 11%,
        rgba(254, 255, 255, 0.4) 46%,
        rgba(254, 255, 255, .13) 48%,
        rgba(254, 255, 255, 0.13) 63%,
        rgba(254, 255, 255, 0.5) 65%,
        rgba(253, 253, 253, 0.5) 78%,
        rgba(255, 255, 255, 0.3) 80%,
        rgba(255, 255, 255, 0.13) 83%,
        rgba(255, 255, 255, 0.13) 71%,
        rgba(255, 255, 255, 0.8) 100%),
        #C3DDFE;
    border: solid 2px rgba(255, 255, 255, 0.1);
    /* width: 750px; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}
 
.pageConnexion .containerConnexion, .pageInscription .containerInscription, .pageModifierEspace .containerModifierEspace {
    height: auto;
}
 
.pageConnexion .containerConnexion h1, .pageInscription .containerInscription h1, .pageModifierEspace .containerModifierEspace h1{
    padding-bottom: 30px;
}
 
.pageConnexion .containerConnexion form, .pageInscription .containerInscription form, .pageModifierEspace .containerModifierEspace form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
}
 
.pageConnexion .containerConnexion form{
    height: auto;
}
 
.pageConnexion .containerConnexion form #subContainer, .pageInscription .containerInscription form #subContainer {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    flex-wrap: wrap;
    height: 15em;
    gap: 15px;
}
 
.pageConnexion .containerConnexion form #subContainer {
    height: auto;
}
 
.pageConnexion .containerConnexion form #subContainer div, .pageInscription .containerInscription form #subContainer div, .pageModifierEspace .containerModifierEspace div, .pageModifierEspace .containerModifierEspace input, .pageModifierEspace .containerModifierEspace select{
    min-width: 350px;
    max-width: 350px;
}
 
.pageConnexion .containerConnexion form input, select, .pageInscription .containerInscription form input, select, .ListeEspaces div a, .pageModifierEspace .containerModifierEspace input, .pageModifierEspace .containerModifierEspace select{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
 
.pageConnexion .containerConnexion form label, .pageInscription .containerInscription form label{
    padding-left: 9px;
    padding-bottom: 5px;
}
 
.pageConnexion .containerConnexion .submitForm, .pageInscription .containerInscription .submitForm {
    width: 100%;
    color: white;
    transition: 0.2s;
}
 
.pageConnexion .containerConnexion .submitForm input, .pageInscription .containerInscription .submitForm input, .ListeEspaces div a, #supprimer_espace span, .pageModifierEspace .containerModifierEspace .submitForm input{
    background-color: #5FA6FF;
    color: white;
    transition: 0.2s;
    margin-bottom: 0;
    margin-top: 0.5em;
    text-decoration: none;
}
 
.pageConnexion .containerConnexion .submitForm input:hover, .pageInscription .containerInscription .submitForm input:hover, .ListeEspaces div a:hover, #supprimer_espace span:hover, .pageModifierEspace .containerModifierEspace .submitForm input:hover{
    background-color: #2f74c9;
    transition: 0.2s;
}

/*
=====================================================
====================== Espaces ======================
=====================================================
 */


.ListeEspaces {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
}

.ListeEspaces .topListe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
}

.ListeEspaces table{
    color: white;
    background: #5FA6FF;
    border-radius: 25px;
    overflow: hidden;
    border-collapse: collapse;
}

.ListeEspaces .topListe a{
    width: auto;
    margin: 0;
}

.ListeEspaces table thead {
    background-color:#2F74C9 ;
}

.ListeEspaces table th {
    padding: 10px 30px;
}

.ListeEspaces table .options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ListeEspaces table tbody > tr:nth-of-type(even) {
    background-color: #8ABEFF;
}

.ListeEspaces table tbody a, .ListeEspaces table span{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 50px;
    transition: 0.1s;
    border-radius: 10px;
}

.ListeEspaces table tbody a:hover, .ListeEspaces table span:hover{
    background-color: #2F74C9;
    transition: 0.1s;
}

#supprimer_espace {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.600);
    top: 0;
    left: 0;
}

#supprimer_espace .containerSupprimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #C3DDFE;
    height: auto;
}

#supprimer_espace .containerSupprimer p{
    padding-top: 10px;
    padding-bottom: 20px;
}

#supprimer_espace .containerSupprimer span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

#supprimer_espace .containerSupprimer .boutonRouge{
    background: #D90000;
}

#supprimer_espace .containerSupprimer .boutonRouge:hover{
    background: #b00000;
}

.pageModifierEspace .containerModifierEspace div {
    min-width: 251px;
}